
html,body{
    background-color:#E7D2CC ;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
h1.header-top-page{
    margin:0;
    height: 60px;
}

.div-top-page{
    background-color:#EAE7DC;

}


.header-home{
    margin: auto;
    padding: 0;
    width: auto;
    text-align: center;
    font-family: glory;
    font-size: 1.5em;
    border-style: outset;
} 

div#navbar-home{
    background-color:#EAE7DC;
    float: right;
    margin-top: 0;
}




li.list-home{
    margin-right: 10px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    top: 0;
    font-size: 3em;
    margin-top: 20px;
    font-family: glory;
    font-weight:bold;
    
    
}

a{
    color: black;
    
}

.list-home a:hover{
    color: yellowgreen;
}
#karlFoto {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}
.profilFoto {
    display: block;
}

/* ----Personlig-sida-Arvid */

.img-profile{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    border-style: solid;
    border-color: grey;
}

#img-Arvid-Text{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 0;
}

p{
    font-family: glory;
    font-weight: 600;
    text-align: right;
    margin-right: 10%;
}

*{
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    background-color: grey;
}

.skills-CSS.container{
    width: 60%;
}

.skills-HTML {
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: glory;
}

.skills-CSS{
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: glory;
}

.skills-JavaScript{
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: glory;
}

.skills-OOP-Java{
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: glory;
}


